<head>
{#    {{ dump() }}#}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ this.page.meta_description }}">
    <title>{{ this.page.title }}</title>

    <!--    <link rel="apple-touch-icon" href="{{ 'assets/images/favicons/apple-touch-icon.png'|theme }}" sizes="180x180">-->
    <!--    <link rel="icon" href="{{ 'assets/images/favicons/favicon-32x32.png'|theme }}" sizes="32x32" type="image/png">-->
    <!--    <link rel="icon" href="{{ 'assets/images/favicons/favicon-16x16.png'|theme }}" sizes="16x16" type="image/png">-->
    <!--    <link rel="manifest" href="{{ 'assets/images/favicons/manifest.json'|theme }}">-->
    <!--    <link rel="mask-icon" href="{{ 'assets/images/favicons/safari-pinned-tab.svg'|theme }}" color="#563d7c">-->
    <!--    <link rel="icon" href="{{ 'assets/images/favicons/favicon.ico'|theme }}">-->
    <!--    <meta name="msapplication-config" content="{{ 'assets/images/favicons/browserconfig.xml'|theme }}">-->
    {{ inlineStyles }}
</head>