.contact {
  font-size: 14px;
  &__icon {
    margin-right: 1rem;
    padding: .5rem;
    font-size: 13px;
    border: 1px solid $accent-color;
    border-radius: $border-radius;
    color: $white-color;
    transition: color .3s ease-in-out;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__content {

  }

  &__title {
    display: block;
    font-family: $title-font;
    font-weight: bold;
    color: $white-color;
    transition: color .3s ease-in-out;
  }

  &__text {
    display: block;
    font-size: 14px;
    color: $white-mute-color;
  }

  &__link:hover &__title,
  &__link:hover &__icon {
    color: $accent-color;
  }
}