.contact {
  font-size: 14px;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    height: 32px;
    width: 32px;
    font-size: 13px;
    border: 1px solid var(--accent-color);;
    border-radius: $border-radius;
    color: $black-color;
    transition: color .3s ease-in-out;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__content {

  }

  &__title {
    display: block;
    font-family: $title-font;
    font-weight: bold;
    color: $black-color;
    transition: color .3s ease-in-out;
  }

  &__text {
    display: block;
    font-size: 14px;
    color: $black-mute-color;
  }

  &__link:hover &__title,
  &__link:hover &__icon {
    color: var(--accent-color);;
  }

  &_white {

  }

  &_white &__icon {
    color: $white-color;
  }

  &_white &__title {
    color: $white-color;
  }

  &_white &__text {
    color: $white-mute-color;
  }
}