.socials {
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: $black-color;

  &__item {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    height: 32px;
    width: 32px;
    font-size: 13px;
    border: 1px solid $accent-color;
    border-radius: $border-radius;
    color: $black-color;
    transition: color .3s ease-in-out;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $black-color;
  }

  &_white,
  &_white &__link,
  &_white &__icon{
    color: $white-color;
    transition: color .3s ease-in-out;
  }

  &__link:hover &__icon,
  &__link:hover {
    color: $accent-color;
  }


}