{% for item in items if not item.viewBag.isHidden %}

{% if not item.viewBag.isHidden %}
    <li class="menu__item{{ item.isActive ? ' menu__item_active' : '' }}{{ item.isChildActive ? ' menu__item_child-active' : '' }}{{ item.items ? ' menu__item_dropdown' : ''}}{{ item.viewBag.cssClass ? ' ' ~ item.viewBag.cssClass : ''}}"{{ item.viewBag.isExternal ? ' target="_blank"' : ''}}>
        {% if item.url %}
            <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' : '' }} class="menu__link">
                {{ item.title }}
            </a>
        {% else %}
            <span class="menu__span">{{ item.title }}</span>
        {% endif %}

        {% if item.items %}
            <ul class="menu__sub-menu">{% partial __SELF__ ~ "::items" items=item.items %}</ul>
        {% endif %}
    </li>
{% endif %}
{% endfor %}