.breadcrumbs {
  &__item {
    color: $white-mute-color;

    &:after {
      color: $white-mute-color;
    }
  }

  &__link {
    color: $white-color;

    &:hover {
      color: $accent-color;
    }
  }
}