.button {
  display: inline-block;
  color: $white-color;
  background-color: $black-color;
  border: 1px solid $black-color;
  border-radius: .25rem;
  transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out,box-shadow .3s ease-in-out;

  &:hover {
    color: $black-color;
    background-color: transparent;
  }

  &_accent {
    border-color: $accent-color;
    border-color: var(--accent-color);
    background-color: $accent-color;
    background-color: var(--accent-color);
    color: $white-color;

    &:hover {
      color: $accent-color;
      color: var(--accent-color);
      background-color: $white-color;
    }

    &.button_inverse {
      border-color: $accent-color;
      border-color: var(--accent-color);
      background-color: transparent;
      color: $white-color;

      &:hover {
        color: $white-color;
        background-color: $accent-color;
        background-color: var(--accent-color);
      }
    }
  }

  &_cta {
    border-color: $accent-color;
    border-color: var(--accent-color);
    background-color: $accent-color;
    background-color: var(--accent-color);
    color: $white-color;

    &:hover {
      color: $accent-color;
      color: var(--accent-color);
      background-color: $white-color;
    }

    &.button_inverse {
      border-color: $accent-color;
      border-color: var(--accent-color);
      background-color: transparent;
      color: $white-color;

      &:hover {
        color: $white-color;
        background-color: $accent-color;
        background-color: var(--accent-color);
      }
    }
  }

  &_white {
    border-color: $white-color;
    background-color: $white-color;
    color: $black-color;

    &:hover {
      color: $white-color;
      background-color: transparent;
    }

    &.button_inverse {
      border-color: $white-color;
      background-color: transparent;
      color: $white-color;

      &:hover {
        color: $black-color;
        background-color: $white-color;
      }
    }

    &.button_link {
      border-color: transparent;
      background-color: transparent;
      color: $white-color;

      &:hover {
        color: lighten($white-color, 30);
      }
    }
  }

  &_black {
    border-color: $black-color;
    background-color: $black-color;
    color: $white-color;

    &:hover {
      color: $black-color;
      background-color: transparent;
    }

    &.button_inverse {
      border-color: $black-color;
      background-color: transparent;
      color: $black-color;

      &:hover {
        color: $white-color;
        background-color: $black-color;
      }
    }

    &.button_link {
      border-color: transparent;
      background-color: transparent;
      color: $black-color;

      &:hover {
        color: lighten($black-color, 30);
      }
    }
  }

}
