.hero {
  &:before {
    background: rgba($bg-color, .85);
  }
  &__title {
    font-family: $title-font;
    text-shadow: 0 0 27px rgba($black-color, .7);
    color: $white-color;

    & strong {
      color: $accent-color;
    }

    &:after {
      background-color: $accent-color;
    }
  }

  &__desc {
    color: $white-mute-color;
  }
}