.page-header {
  position: relative;
  overflow: hidden;
  z-index: 1;

  & .container,
  & .row,
  & .col-12 {
    height: 100%;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($bg-color, .85);
    z-index: 2;
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &_transparent-header {
    margin-top: -119px;
    padding-top: 119px;
    height: 262px;

    @media (min-width: 1024px) {
      height: 294px;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__title {
    flex: 0 0 100%;
    margin-top: 0;
    color: $white-color;
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__breadcrumbs {
    flex: 0 0 100%;
  }
}