.top-bar {
  border-bottom: 1px solid rgba(#fff, .05);

  &__item {
    flex: 0 0 100%;
    padding: .5rem 1rem .5rem 0;
    max-width: 100%;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
  
  @media (min-width: 768px) {
    &__item {
      flex: 0 0 auto;
      padding: .5rem 1rem;
    }
  }
}