[popup]
popup = "popup1"
show_title = 0

[form]
form = "cb"
==
<!doctype html>
<html lang="ru">
{% partial 'site/head' %}
<body>
<div class="wrapper">
    {% partial 'site/header' %}
    <main class="main main_transparent-header">
    {% page %}
    </main>
    {% partial 'site/footer' %}
</div>
{% component 'popup' %}
{% styles %}
<link href="{{ 'assets/css/styles.min.css'|theme }}" rel="stylesheet">
{% scripts %}
{% framework extras %}
<script src="{{ 'assets/js/scripts.min.js'|theme }}"></script>
<a href="#header" class="top-button scroll" id="top-button">
    <i class="fas fa-chevron-up"></i>
</a>
</body>
</html>