// COLORS
$accent-color: #c23616;
$cta-color: $accent-color;

$red-color: #c23616;

$white-color: #dfe6e9;
$white-mute-color: #b2bec3;

$black-color: #2d3436;
$black-mute-color: #636e72;

$bg-color: #000000;
$overlay-color: rgba(#000000, .75);

$border-color: $white-mute-color;

$title-font: 'Roboto Condensed', serif;
$text-font: 'Open Sans', serif;