@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Open+Sans:400,700&subset=cyrillic,cyrillic-ext');
@import "vars";
@import "vendor";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", serif;
  color: $black-mute-color;
}

.wrapper {
  position: relative;
}

@import "blocks/header";
@import "blocks/top-bar";
@import "blocks/menu-bar";
@import "blocks/menu";
@import "blocks/button";
@import "blocks/main-menu";
@import "blocks/main";
@import "blocks/page-header";
@import "blocks/breadcrumbs";
@import "blocks/icon-card";
@import "blocks/gallery-item";
@import "blocks/top-button";

/**
  Components
 */
@import "components/form";
@import "components/form-field";
@import "components/contact";
@import "components/logo";
@import "components/address";
@import "components/opening-hours";
@import "components/socials";

/**
 Widgets
 */
@import "widgets/widget";
@import "widgets/hero";
@import "widgets/about";
@import "widgets/icon-cards";
@import "widgets/widget-cta";